body {
  background-color: #0B0B0B;
}

h1,h2,h3,h5 {
  color: white;
}

#my-head {
  text-align: center;
  border-bottom: 2px solid #DA5C5D;
  padding: 10px 0;
  margin: 0;
}

#my-content {
  min-height: 80vh;
  padding: 10px;
}

#my-footer {
  border-top: 2px solid #DA5C5D;
}

#my-nav {
  padding: 30px 0;
  align-items: center;
  height: 100%;
  gap: 20px;
  border-right: 3px dashed #DA5C5D;
}

.nav-link {
  padding: 0;
  color: white !important;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  font-size: 20px;
  background-color: #DA5C5D;
  padding: 1px 10px;
  border-radius: 3%;
}

#demo-area {
  padding: 10px 20px 10px 10px;
}

#info {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

#info-desc {
  width: 500px;
  margin-left: 20px;
}